@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin colors() {
  color: #0070f3;
}

@mixin multicolor-text {
  background-image: linear-gradient(
    to left,
    black,
    black,
    navy,
    rgb(107, 107, 107),
    black,
    rgb(107, 107, 107),
    navy,
    black,
    black
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin multicolor-text2 {
  background-image: linear-gradient(
    to bottom,
    white,
    white,
    white,
    rgb(235, 235, 250),
    rgb(207, 207, 224),
    rgb(207, 207, 224),
    rgb(207, 207, 224)
  );
}
