@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 760px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 2400px) {
    @content;
  }
}

@mixin color-dark {
  background-color: #112f4c;
  color: #112f4c;
}

@mixin multicolor-text2 {
  background-image: linear-gradient(
    to bottom,
    rgb(50, 50, 85),
    rgb(50, 50, 85),
    rgb(61, 61, 88),
    rgb(61, 61, 88),
    rgb(95, 95, 124),
    rgb(95, 95, 124),
    white,
    white,
    white,
    white
  );
}

$h1-font-size: 2.2em;
$h1-big-size: 45px;
$h1-font-weight: 700;
$h2-font-size: 1.5em;
$h2-big-size: 35px;
$h2-font-weight: 500;
$body-font-size: 1em;
$body-big-size: 20px;
$button-font-size: 0.75em;
$button-font-weight: 500;

$light-blue: #d2dee9;
$dark-blue: #323255;
$light-purple: #c8beda;
$light-bg-color: rgb(248, 249, 250);
