@import "mixins";

/*************************/
/***** BUSINESS CARD *****/
/*************************/
.business-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85vw;
  height: 100%;
  padding-bottom: 7.5vh;

  .menubar-title {
    font-size: 2.1em;
    font-weight: 800;
    width: auto;
    height: 8vh;
    margin: auto 5vw;
    display: flex;
    align-items: center;
  }
  .bc-photo-wrap {
    position: relative;
    top: 0;
    left: 0;
    margin: 1.5vh 0vw 3vh 0;
    width: 100vw;
    padding-right: 10vw;
  }
  .bc-gear-img {
    position: relative;
    top: 0;
    left: 0;
    height: 22vh;
    width: 100%;
    animation: rotation 15s linear infinite;
  }
  .bc-photo-img {
    position: absolute;
    z-index: 2;
    width: 14vh;
    height: 14vh;
    top: 4vh;
    left: calc(45vw - 7vh);
    border-radius: 20em;
    border: 1px solid transparent;
    overflow: hidden;
  }

  /***** BLOG LINKS *****/
  .bc-blog-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 4vh 0;
    text-align: left;
    padding: 0 0 4vh 7vw;
    height: 37.5vh;
    width: 100%;
    font-weight: 600;
    font-size: 1.1em;
    color: rgb(8, 8, 39);
  }
  .bc-blog-title {
    font-size: 1.3em;
    font-weight: 700;
    margin: 1vh 0 0 0;
  }

  /**** Service Summary *****/
  .service-summary {
    height: auto;
    width: 100%;
    padding: 0 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0;
  }
  .service-tag {
    height: 2.2em;
    text-align: center;
    font-size: 75%;
    font-weight: 600;
    padding: 4px 12px;
    background-color: black;
    color: white;
    border-radius: 100px;
    margin: 2px 5px;
  }
}
/***** END OF BIZCARD *****/

/**** Skillbar *****/
.skill-icon-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  width: 75vw;
  margin: 2.5vh 5vw 5vh 5vw;
}
.skill-item-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 50px;
  font-size: 0em;
  transition-property: font-size;
  transition-duration: 1.5s;
}
.skill-item-wrap:hover {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0;
}

.services-skill-button {
  position: relative;
  height: 40px;
  width: 100%;
  max-width: 40px;
  margin: 0;
  transition-property: height;
  transition-duration: 1s;
  border: 1px solid white;
  border-radius: 100px;
  overflow: hidden;
}
.services-skill-button:hover {
  height: 0px;
}

/***** PERSONAL STATEMENT *****/
.personal-statement {
  text-align: left;
  font-size: 1em;
  font-weight: 550;
  padding: 0vh 5vw;
  margin-bottom: 3vh;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
