@import "mixins";

/*************************/
/***** BUSINESS CARD *****/
/*************************/
.business-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85vw;
  height: 100%;
  padding-bottom: 2.5vh;

  @include for-tablet-portrait-up {
    margin-top: 10vh;
    width: 100vw;
  }
  @include for-desktop-up {
    width: 100%;
    padding-bottom: 0;
    max-height: 100vh;
  }
  @include for-big-desktop-up {
    margin-top: 50px;
  }

  .bc-photo-wrap {
    position: relative;
    top: 0;
    left: 0;
    margin: 4vh 0vw 2.5vh 0;
    width: 100vw;
    padding-right: 10vw;

    @include for-tablet-portrait-up {
      padding-right: 0;
      margin: 7vh 0 4vh 0;
    }
    @include for-desktop-up {
      width: 100%;
      margin: 3vh 0;
    }
  }

  .bc-gear-img {
    position: relative;
    top: 0;
    left: 0;
    height: 22vh;
    width: 100%;
    animation: rotation 15s linear infinite;
    z-index: 1;
  }
  .bc-photo-img {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 14vh;
    top: 4vh;
    border-radius: 20em;
    border: 1px solid transparent;
    overflow: hidden;

    @include for-tablet-portrait-up {
    }
    @include for-desktop-up {
    }
    @include for-big-desktop-up {
    }
  }

  /***** BLOG LINKS *****/
  .bc-blog-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2.5vh 0;
    text-align: left;
    padding: 0 0 0 7vw;
    height: auto;
    width: 100%;
    font-weight: 600;
    font-size: 1.1em;
    color: rgb(8, 8, 39);

    @include for-tablet-portrait-up {
      margin: 0 0 5vh 0;
      font-size: 1.5em;
      padding: 0;
    }
    @include for-desktop-up {
      height: auto;
      margin: 2vh 0;
    }
  }
  .bc-blog-title {
    font-size: 2.1em;
    font-weight: 800;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;

    @include for-tablet-portrait-up {
      font-size: 2.5em;
      height: auto;
      margin: 0vh auto 2.5vh auto;
    }
    @include for-desktop-up {
      margin-bottom: 0;
    }
  }
  .bc-blog-subtitle {
    margin: 2.5vh 0 4vh;

    @include for-tablet-portrait-up {
      text-align: center;
    }
  }
  .bc-mobile-blog-wrap {
    position: sticky;
    top: 0;
    margin-bottom: 2.5vh;
    width: 100%;
    z-index: 5;
    @include for-tablet-portrait-up {
      position: relative;
    }
    @include for-desktop-up {
      display: none;
    }
  }
  .bc-blog-button {
    height: 2.5em;
    padding: 8px 0;
    width: 100%;
    text-align: center;
    font-size: 90%;
    font-weight: 600;
    background-color: black;
    color: white;
    border-radius: 0 8px 8px 0;
    @include for-desktop-up {
      display: none;
    }
  }
  .bc-block-link-wrap {
    background-color: white;
    border: none;
  }
  .bc-blog-link {
    padding: 0.5vh 0;
    line-height: 1.5em;
    padding-left: 1.5vw;
    font-weight: 500;
    background-color: #bfd3e6;
    border-radius: 0 8px 8px 0;
    border-right: 0.5px solid lightgray;
    border-bottom: 0.5px solid lightgray;
    &:hover {
      background-color: aliceblue;
    }
    @include for-tablet-portrait-up {
      padding-left: 10vw;
      margin: 0;
      background-color: none;
    }
    @include for-desktop-up {
      display: none;
    }
  }

  /**** Service Summary *****/
  .service-summary {
    height: auto;
    width: 100vw;
    padding: 1vh 15vw 1vh 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0;
    margin-bottom: 5vh;
    background-color: #bfd3e6;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    @include for-tablet-portrait-up {
      justify-content: space-evenly;
      padding: 2.5vh 5vw;
    }
    @include for-desktop-up {
      width: 100%;
      padding: 1vh 0vw;
      justify-content: center;
      margin: 1.5vh 0;
    }
  }
  .service-tag {
    height: 2.2em;
    text-align: center;
    font-size: 70%;
    font-weight: 600;
    padding: 4px 12px;
    background-color: black;
    color: white;
    border-radius: 100px;
    margin: 5px 5px;
    box-shadow: 1px 1px rgb(56, 34, 82);

    @include for-tablet-portrait-up {
      font-size: 115%;
      padding: 8px 12px;
      height: auto;
      margin: 5px 10px;
    }
    @include for-desktop-up {
      font-size: 0.8vw;
      margin: 10px 10px;
    }
  }
}
/***** END OF BIZCARD *****/

/**** Skillbar *****/
.skill-icon-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  width: 100vw;
  margin: 2.5vh 0 2.5vh 0;
  padding: 0 17.5vw 2.5vh 5vw;

  @include for-tablet-portrait-up {
    width: 100vw;
    justify-content: space-around;
    margin-top: 0;
    padding: 0 5vw;
  }
  @include for-desktop-up {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    padding: 0;
    border-bottom: none;
    margin: 0;
    margin-top: 3vh;
  }
}
.skill-item-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 1vh 0;
  width: 50px;
  font-size: 0em;
  transition-property: font-size;
  transition-duration: 1.5s;

  @include for-tablet-portrait-up {
    height: auto;
    width: 10vw;
  }
  @include for-desktop-up {
    width: 4vw;
  }
}
.skill-item-wrap:hover {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0;
}

.services-skill-button {
  position: relative;
  height: 40px;
  width: 100%;
  max-width: 40px;
  margin: 0;
  transition-property: height;
  transition-duration: 1s;
  border: 1px solid white;
  border-radius: 100px;
  overflow: hidden;

  @include for-tablet-portrait-up {
    max-width: 10vw;
    height: 10vw;
    margin: 2.5vh 0;
    font-weight: 600;
  }
  @include for-desktop-up {
    max-width: 3vw;
    height: 3vw;
    margin: auto;
  }
}
.services-skill-button:hover {
  height: 0px;
}

/***** PERSONAL STATEMENT *****/
.personal-statement {
  text-align: left;
  font-size: 1em;
  padding: 0vh 5vw;
  margin-bottom: 3vh;

  @include for-tablet-portrait-up {
    font-size: 115%;
  }
  @include for-desktop-up {
    font-size: 0;
    margin: 0;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
