@import "mixins";
/***** FULL BLOG WRAP *****/
.blog-wrap {
  width: 100%;
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  & ::-webkit-scrollbar {
    display: none;
  }
}
/***** INSIDE TABS COMPONENT -- tabs css in Global SCSS *****/

.blog-text-wrap {
  max-width: 90vw;
  @include for-desktop-up {
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 47vw;
    max-width: 1200px;
  }
}
.blog-component-container {
  display: flex;
  flex-direction: column;
  margin: 0 5vw;
  @include for-desktop-up {
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    max-height: 100%;
    max-width: 75vw;
    width: 100%;
    padding: 5.5vh 0vw 0vh 2vw;
    margin-left: 0;
  }
  @include for-big-desktop-up {
    max-width: 1800px;
  }
}

.blog-title {
  font-size: 1.5em;
  font-weight: 500;
  margin: 2vh 0 1vh;
  text-decoration: underline solid black 3px;
  color: #323255;
  @include for-desktop-up {
    font-size: 1.7vw;
  }
  @include for-big-desktop-up {
    font-size: 55px;
  }
}
.blog-subtitle {
  font-size: 1.3em;
  font-weight: 500;
  margin: 2vh 0 1vh;
  color: #c8beda;

  @include for-big-desktop-up {
    font-size: 40px;
  }
}
.blog-description {
  font-size: 0.9em;
  @include for-tablet-portrait-up {
    font-size: 1.1em;
  }
  @include for-big-desktop-up {
    font-size: 30px;
  }
}
.blog-list-item {
  margin-left: 1.5vw;
  margin-bottom: 2vh;
}
.blog-bullet-wrap {
  margin-top: 1.5vh;
  padding-left: 2 5vw;
  .blog-bullet {
    list-style: none;
  }
}

/***** BLOG SIDEBAR *****/

.blog-right-sidebar {
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 249, 250);
  padding-top: 2vh;
  @include for-tablet-portrait-up {
    width: 90vw;
  }
  @include for-desktop-up {
    width: 23vw;
    min-height: 94.5vh;
    margin-left: 2vw;
    max-width: calc(1800px - 1128px);
  }
}
.blog-overview-image {
  position: relative;
  align-self: center;
  width: 70vw;
  height: 75vw;
  max-height: 75vw;
  max-width: 552px;
  @include for-desktop-up {
    width: 19vw;
    height: 21.5vw;
  }
}
.blog-image-description {
  padding: 0 1.5vw;
  margin-top: 4vh;
  font-size: 0.75em;
  color: rgb(95, 94, 94);
  @include for-desktop-up {
    font-size: 0.7vw;
    font-weight: 700;
  }
}

/***** GENERAL *****/
.separator {
  height: 1vh;
  width: 25%;
  border-bottom: 1px solid #323255;
}

/***** BLOG SPECIFIC *****/
.process-scorecard-wrap {
  width: 35vw;
  height: 20vw;
  position: relative;
  margin: 1.5vh auto;
}
.process-vsm-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.process-vsm {
  width: 30vw;
  height: 22.5vw;
  position: relative;
  margin: 1.5vh 0;
}
.process-vsm-object {
  width: 15vw;
  height: 15vw;
  position: relative;
  margin: auto 0;
  border: 1px solid lightgrey;
}
