@import "mixins";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/***** TAB IMPORT *****/
.react-tabs {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100vh;
  & ::-webkit-scrollbar {
    display: none;
  }

  @include for-desktop-up {
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    height: 100%;

    &__tab-list {
      position: fixed;
      z-index: 2;
      top: 0;
      border-bottom: 1px solid black;
      margin: 0;
      padding: 0;
      width: 99.8%;
      max-width: 1800px;
      height: auto;
      display: flex;
      height: 5.5vh;
      background-color: white;
      @include for-big-desktop-up {
        width: 1800px;
        max-height: 5.5vh;
      }
    }

    &__tab {
      position: relative;
      display: inline-block;
      min-height: 100%;
      width: auto;
      margin: 0;
      border: 1px solid black;
      list-style: none;
      padding: 6px 12px;
      cursor: pointer;
      text-align: center;
      font-size: 0.95vw;
      background-color: #323255;
      color: white;
      border-radius: 10px 10px 0 0;
      @include for-big-desktop-up {
        font-size: 1.5vh;
        padding: auto;
      }

      &--selected {
        background-color: #b19cd9;
        color: #323255;
        outline: none;
        font-weight: 600;
      }

      &--disabled {
        color: GrayText;
        cursor: default;
      }

      &:focus {
        outline: none;

        &:after {
          content: "";
          position: absolute;
          height: 5px;
          left: -4px;
          right: -4px;
          bottom: -5px;
          background: #fff;
        }
      }
    }

    &__tab-panel {
      display: none;
      max-height: 100%;

      &--selected {
        display: block;
        height: auto;
        max-height: 100%;
        max-width: 75vw;
        overflow-x: hidden;
        overflow-y: scroll;
        & ::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
