@import "mixins";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  & ::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/***** TAB IMPORT *****/
.react-tabs {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100vh;
  & ::-webkit-scrollbar {
    display: none;
  }

  @include for-desktop-up {
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    height: 100%;

    &__tab-list {
      position: fixed;
      z-index: 2;
      top: 0;
      margin: auto 0;
      padding: 0 30vw 0 5vw;
      width: 100%;
      max-width: 75vw;
      display: flex;
      justify-content: space-around;
      height: 10vh;
      max-height: 10vh;

      background-image: linear-gradient(
        white,
        white,
        white,
        white,
        transparent
      );

      @include for-big-desktop-up {
        max-width: 2100px;

        overflow: hidden;
      }
    }

    &__tab {
      position: relative;
      display: inline-block;
      height: 4vh;
      width: auto;
      margin: 1.75vh 0 0 0;
      border: 1px solid black;
      list-style: none;
      padding: 5px 15px 0px 15px;
      margin-right: 2px;
      cursor: pointer;
      text-align: center;
      font-size: 0.9vw;
      background-color: #bfd3e6;
      color: black;
      border-radius: 10px;

      &:hover {
        background-color: #c8beda;
        color: #323255;
      }
      @include for-big-desktop-up {
        font-size: 1.5vh;
        padding: auto;
      }

      &--selected {
        background-color: #323255;
        color: #bfd3e6;
        outline: none;
      }

      &--disabled {
        color: GrayText;
        cursor: default;
      }

      &:focus {
        outline: none;

        &:after {
          content: "";
          position: absolute;
          height: 5px;
          left: -4px;
          right: -4px;
          bottom: -5px;
          background: #fff;
        }
      }
    }

    &__tab-panel {
      display: none;
      max-height: 100%;
      & ::-webkit-scrollbar {
        display: none;
      }

      &--selected {
        display: block;
        height: auto;
        max-height: 100%;
        max-width: 75vw;
        overflow-x: hidden;
        overflow-y: scroll;

        & ::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
  & ::-webkit-scrollbar {
    display: none;
  }
}
