/** Home Menubar **/
@import "mixins";

.menubar-menu {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  text-align: center;
  width: 15vw;
  margin: 0;
  background-color: $light-blue;
  height: 100vh;
  padding-bottom: 65vh;
  border-left: 1px solid black;
  z-index: 5;

  @include for-tablet-portrait-up {
    border-left: none;


    min-height: auto;
    height: 11vh;
    flex-direction: row;
    right: auto;
    left: 10vw;
    width: 80vw;
    background-color: white;
    border-bottom: 1px solid black;
    border-radius: 10em;
    justify-content: space-around;
    padding: 0 2.5vw;
  }
  @include for-desktop-up {
    justify-content: space-between;
    max-width: 17vw;
    border-bottom: none;
    left: 0;
    border-radius: 0em;
    height: 5.5vh;
    background-color: transparent;
    padding-left: 0px;
    padding-top: 10px;
  }
  @include for-big-desktop-up {
    position: relative;
    width: 100%;
    max-width: 700px;
    min-height: 5.5vh;
  }
}
.bc-link {
  display: flex;
  flex-direction: column;
  font-size: 0;
  color: black;
  text-align: center;
  border: none;
  background-color: transparent;
  margin: 0.5vh 0;
  transition-property: font-size;
  transition-duration: 0.5s;

  @include for-tablet-portrait-up {
    padding: 0;
    margin: auto 0;
    max-height: 11vh;
  }
  @include for-desktop-up {
    margin: auto;
    color: white;
  }
}
.bc-link:hover {
  font-size: $button-font-size;
  font-weight: $button-font-weight;
}

.bc-work-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex-wrap: wrap;
  height: 12vw;
  width: 12vw;
  border: 1px solid transparent;
  border-radius: 2em;
  overflow: hidden;

  @include for-tablet-portrait-up {
    height: 5vw;
    width: 5vw;
  }
  @include for-desktop-up {
    height: 2vw;
    width: 2vw;
  }
}
